/*--Netflix webpage using HTML and CSS by Bajulaiye Wadidah--*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,30,0.7)),url(/netflix\ 2\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px 8%;
}

nav{
    display:flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    color: white;
    background: #db0001;
    padding: 7px 20px;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}
nav button:hover{
    background: rgba(226,0,0,0.7);
    transition: 1s;
}

.header-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-text h1{
    font-size: 38px;
    max-width: 650px;
    margin-bottom:20px ;
}
.header-text h3{
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}
.header-text p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
form{
    display: inline;
    flex-direction: column;
    align-items: center;
}
label{
    margin-bottom: 10px;
}
input[type="email"]{
    height: 50px;
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
}
button{
    height: 50px;
    width: 100px;
    background-color: #db0001;
    color: #fff;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(226,0,0,0.7);
    transition: 1s;
}
/*-------Enjoy on TV------*/
.tv{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),;
    background-size: cover;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    position: relative;
    height: 500px;
    width: 300px;
}
.img-col img,
.img-col video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tv h1{
    font-size: 42px;
    color: #fff;
    text-align: left;
    justify-content: left;
    position: left;
    font-family: 'Times New Roman', Times, serif;
}
.tv p{
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
    justify-content: left;
    font-family: cursive;
}
/*-----Download your shows to watch offline-----*/
.shows{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),;
    background-size: cover;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.shows-row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.shows-text{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.shows-text h1{
    font-size: 42px;
    color: #fff;
    text-align: right;
    justify-content: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.shows-text p{
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 3px;
    position: relative;
    justify-content: right;
    font-family: cursive;
}
.img-show{
    flex-basis: 50%;
    margin-bottom: 20px;
    position: relative;
    height: 500px;
    width: 300px;
}
/*-----Styling the <hr>(Horizontal rule) to show the different sections of the webpage-----*/
hr{
    border: none;
    border-top: 10px solid #777;
    margin: 20px 0;
}
/*-----Watch everywhere-----*/
.watch{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),;
    background-size: cover;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.watch-rows{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.watch-text{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.watch-text h1{
    font-size: 42px;
    color: #fff;
    text-align: left;
    justify-content: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.watch-text p{
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
    padding-right: 3px;
    position: relative;
    justify-content: right;
    font-family: cursive;
}
.img-watch{
    flex-basis: 50%;
    margin-bottom: 20px;
    position: relative;
    height: 500px;
    width: 300px;
}
/*-----Kids Profile-----*/
.kids{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),;
    background-size: cover;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.kids-row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.kids-text{
    flex-basis: 40%;
    margin-bottom: 20px;
}

.kids-text h1{
    font-size: 42px;
    color: #fff;
    text-align: right;
    justify-content: right;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.kids-text p{
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 3px;
    position: relative;
    justify-content: right;
    font-family: cursive;
}
.img-kids{
    flex-basis: 60%;
    margin-bottom: 20px;
    position: relative;
    height: 500px;
    width: 300px;
}
/*-----Frequently Asked Questions-----*/
.questions{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.questions h1{
    font-weight: 500;
    font-size: 62px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    /*max-width: 750px;*/
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
li label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    font-size: 24px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
    overflow: hidden;
}
.questions .email{
    max-width: 600px;
    margin: 20px auto 60px; 
}
.questions small{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*--------footer-------------*/
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer a{
    margin-bottom: 30px;
    color: #777;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    background-color: #333;
    color: #f2f2f2;
    border: none;
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
}
.footer .language-btn img{
    width: 10px;
    margin-left: 0.5px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
